header {
	background-color: #232323;
	
	width: 100%;
	height: 10px;

}
body {
	background-color: #325278;
	margin: 0px; /*Lets header sit at the top of the site, may need to change later*/
	
}

h1 {
	text-align: center;
	color: white;
}

p1 {
	text-align: center;
	color: white;
	font-size: medium;
}

footer {
	background-color: #232323;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 10px;
}